:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --primary-100: #021f59;
  --primary-200: #295e73;
  --primary-300: #538ea6;
  --text: #e0e0e0;
  --bg-dark: #080607;
  --bg-light: #9ac7d9;
  --bg-1: linear-gradient(
    0deg,
    var(--bg-dark) 0%,
    var(--primary-100) 98%,
    var(--bg-dark) 100%
  );

  scroll-behavior: smooth;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
